# MHI2Q SD-card resource overrides.
# Loaded after /mnt/app/root/retroarch/retroarch.cfg by ra.sh.

libretro_info_path = "/fs/sda0/retroarch/info"
content_database_path = "/fs/sda0/retroarch/database/rdb"
assets_directory = "/fs/sda0/retroarch/assets"
video_shader_dir = "/fs/sda0/retroarch/shaders"
cheat_database_path = "/fs/sda0/retroarch/cheats"
joypad_autoconfig_dir = "/fs/sda0/retroarch/autoconfig"
